<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://blobmagic-ssw-azuresuperskill.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e3595e7a-92e8-4a1c-985b-f82f1a41eb56/resourceGroups/DefaultResourceGroup-EAU/providers/Microsoft.Web/sites/BlobMagic-SSW-AzureSuperSkill</ResourceId>
    <UserName>$BlobMagic-SSW-AzureSuperSkill</UserName>
    <_SavePWD>true</_SavePWD>
    <IsLinux>true</IsLinux>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>blobmagic-ssw-azuresuperskill.scm.azurewebsites.net:443</MSDeployServiceURL>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <DeployIisAppPath>BlobMagic-SSW-AzureSuperSkill</DeployIisAppPath>
  </PropertyGroup>
</Project>